@import '../bower_components/bootstrap/less/variables.less';
@import '../bower_components/bootstrap/less/mixins.less';

/* PIECHART CSS */

.piechart {

  svg {
    float: left;
  }

  ul.piechart-legend {
    float: left;
    padding: 0 1em;

    li {
      position: relative;
      padding-left: 2em;
      margin-bottom: -3px;
      font-size: 0.8em;
    }

    span {
      position: absolute;
      top: 3px;
      left: 0;
      height: 0.8em;
      width: 1.5em;
      display: inline-block;
      margin-right: 5px;
    }
  }
}


/* ACCORDION MENU CSS*/

ul.accordion {
  list-style: none;

  div {
    white-space: nowrap;
    overflow: hidden;
  }

  li {
    position: relative;

    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
    }

    input[type=checkbox]:checked ~ ul,
    input[type=checkbox]:checked ~ div:last-child {
      margin-top: 0;
      max-height: 0;
      opacity: 0;
    }

    .test { /* TODO: Find the good selector */
      transform: translate(0, 0);
      z-index: 2;
    }
  }
}

/* TABS MENU CSS */

.content > div {
  display: none;
}

.test label {
  cursor: pointer;

}

.test
{
  input[type=radio] {
    display: none;
  }

  #headersTab:checked ~ .content #headersTab,
  #paramsTab:checked ~ .content #paramsTab,
  #responseTab:checked ~ .content #responseTab,
  #cacheTab:checked ~ .content #cacheTab {
   display: block;
 }
}